[submodule "/Users/samsends/code/glass/lbp-mint/lib/ds-test"]
	path = /Users/samsends/code/glass/lbp-mint/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "/Users/samsends/code/glass/lbp-mint/lib/openzeppelin-contracts"]
	path = /Users/samsends/code/glass/lbp-mint/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
